* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
}
.navigation {
  position: fixed;
  /* background-color: #fff; */
  width: 100%;
  height: 100px;
  justify-content: space-between;
  z-index: 50;
}
.header.fixed { 
  width:100%; 
  height:100px;
  z-index: 40; 
  position:fixed;
  top:0px;
  background:#02172d;
  color: #fff;
  -moz-box-shadow: 0 2px 3px 1px rgba(63, 63, 63, .4);
  -webkit-box-shadow: 0 2px 3px 1px rgba(63, 63, 63, .4);
  box-shadow: 0 2px 3px 1px rgba(63, 63, 63, .4);
  -moz-transform: translateY(-130px);
  -ms-transform: translateY(-130px);
  -webkit-transform: translateY(-130px);
   transform: translateY(-130px);
   transition: transform .5s ease;
}

.header.fixed.active {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
/* .navigation.scroll { 
  width:100%; 
  height:100px; 
  z-index: 1000;
  position:fixed;
  justify-content: space-between;
  background:#02172d;
  color: #fff;
  top:0px;
  -moz-box-shadow: 0 2px 3px 1px rgba(63, 63, 63, .4);
  -webkit-box-shadow: 0 2px 3px 1px rgba(63, 63, 63, .4);
  box-shadow: 0 2px 3px 1px rgba(63, 63, 63, .4);
  -moz-transform: translateY(-130px);
  -ms-transform: translateY(-130px);
  -webkit-transform: translateY(-130px);
   transform: translateY(-130px);
   transition: transform .5s ease;
  } 
  .navigation.scroll.active {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
  } */
/* .navigation .scroll {
  background: white;
  color: royalblue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.2s ease-in-out;
} */
.nav-services {
  display: flex;
  position: absolute;
  right: 250px;
  margin-top: 40px;
}
.icons {
  display: flex;
  position: absolute;
  right: 30px;
  margin-top: 43px;
}
.icons li {
  list-style: none;
  position: relative;
  font-size: 1.4rem;
  padding: 0 10px;
}
.fa-brands:hover {
  border-radius: 5px;
  background: transparent;
  box-shadow: 0 0 10px 5px #ffffff6a;
}
.nav-services li {
  list-style: none;
  position: relative;
  font-size: 1.4rem;
  margin-left: 40px;
}
.nav-services li::after {
  content: "";
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  bottom: -6px;
  border-radius: 10px;
  box-shadow: 0 0 9px 1px #fff;
  background: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.nav-services li:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}
a {
  text-decoration: none;
  color: #fff;
}
a span#logo {
  display: block;
  position: absolute;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  text-decoration: none;
  margin: 30px 60px;
}
/* logo animation */
#logo::after {
  content: "";
  position: fixed;
  margin: -45px -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  height: 45px;
  width: 114px;
  border: 4px solid #fff;
  border-radius: 8px;
  transform: scaleX(0);
  transform-origin: top;
  transition: transform 0.5s;
}
#logo:hover::after {
  transform: scale(1);
  transform-origin: bottom;
  cursor: pointer;
  color: wheat;
}

/* first container text animation */

.first-container {
  display: flex;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
/* for background image */
.first-container .f-background-img {
  display: flex;
  position: fixed;
  width: 100%;
  /* z-index: 10; */
  background-size: cover;
  background-position: center;
}
.first-container h2 {
  font-size: 6rem;
  font-weight: 700;
  position: absolute;
  z-index: 20;
  top: 200px;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.animated-text {
  z-index: 30;
  font-size: 2em;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-shadow: 2px 0 10px #bfedef;
}
hr {
  height: 6px;
  border: none;
  outline: none;
  background: linear-gradient(
    to right,
    #ffa600,
    #eaff00,
    #09ff00,
    #009dff,
    #c800ff,
    #fe4ac8,
    #ff0000
  );
  /* background: radial-gradient(#eaff00,#80ff00,#009dff,#c800ff); */
  /* background: grad; */
}
.second-container {
  position: relative;
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 150;
  background: #02172d;
}
.s-left-container {
  height: 100vh;
  width: 800px;
  z-index: 100;
}
.s-right-container {
  height: 100vh;
  width: 800px;
  display: flex;
  position: relative;
  z-index: 100;
}
.s-right-container::after {
  content: "";
  height: 100vh;
  width: 800px;
}
.s-right-container h2 {
  position: absolute;
  top: 50px;
  left: 80px;
  font-size: 3rem;
  font-weight: 500;
  z-index: 100;
  color: #fff;
}
.s-right-container h2 b {
  z-index: 100;
  left: 0px;
  top: 50px;
  font-size: 100px;
  font-weight: 1000;
  color: transparent;
  -webkit-text-stroke: 2px #00fbff;
  background: url(/images/line\ background.gif);
  -webkit-background-clip: text;
  position: absolute;
  animation: run 20s infinite linear;
}
@keyframes run {
  100% {
    background-position: 2000px;
  }
}

.s-right-container p {
  position: absolute;
  top: 260px;
  font-size: 1.3rem;
  letter-spacing: 1px;
  left: -46px;
  z-index: 100;
  padding: 7px 130px;
  color: #fff;
}

/* forth container for user detailes */
.third-container {
  width: 100%;
  height: 100vh;
  background: #021029;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overview {
  z-index: 30;
  background: #ffffff65;
  color: white;
  backdrop-filter: blur(10px);
  /* opacity: 60%; */
  height: 550px;
  width: 90%;
  border-radius: 20px;
  box-shadow: 0 0 30px 12px #b9baba75;
  display: flex;
  position: absolute;
  /* z-index: 1000; */
  overflow: hidden;
  /* transition-delay: 20s; */
}
.img-details{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  position: relative;
  top: 10px;
  left: 10px;
  height: 200px;
  border-radius: 10px;
  width: 500px;
  background:#fff ;
  
}
#dpk-img {
  height: 150px;
  width: 150px;
  border-radius: 100px;
  border: 4px solid rgb(179, 178, 178);
  position: relative;
  top: 30px;
  left: 30px;
  text-align: center;
}
.prsonal-info li{
display: flex;
position: relative;
top: 30px;
left: -10px;
flex-direction: row;
font-weight: 500;
color: black;
font-size: 1em;
list-style: none;
word-spacing:1px;
padding: 10px;
line-height:0.5;
word-spacing: 10px;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.language-info{
  display: flex;
  /* grid-template-columns: auto auto auto; */
  position: absolute;
  height: 300px;
  width: 500px;
  background: #fff;
  top: 220px;
  border-radius: 10px;
  left: 10px;
  flex-direction: row;
  color: black; 
  /* padding: 10px; */
}
.icon-c{
  top: 60px;
  height: 200px;
  width: 100%;
  position: absolute;
  /* background: #599192; */
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.skills{
  width: 100%;
  text-align: center;
  line-height: 3;
  font-weight: 500;
  background-color: #dee4e4dc;
  /* border-radius:10px ; */
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 50px;
  font-size: 1.1em;
}
.L-icon{
  display: block;
  position: relative;
  border-radius: 10px;
  width: 140px;
  height: 50px;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  line-height: 3;
  background: #c8c9c9;
  /* margin: 0.5em; */
  /* padding: 10px 10px ; */
}
/* .text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 40px;
} */
.third-container .circle1 {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  box-shadow: 0 0 50px 0px #fff;
  background: radial-gradient(#bfedef, #75fdff, #06c7ca);
  position: relative;
  top: -460px;
  left: 96px;
  animation: circles-sky 25s ease-in infinite;
}
@keyframes circles-sky {
  50% {
    transform: translateY(100vh);
  }
}
.third-container .circle2 {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  box-shadow: 0 0 50px 0px #fff;
  background: radial-gradient(#fbc640, #fba728, #ff8000);
  top: 150px;
  left: -170px;
  animation: circles-O 18s ease-in infinite reverse;
}
@keyframes circles-O {
  50% {
    transform: translateX(110vh);
  }
}
.third-container .circle3 {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  box-shadow: 0 0 50px 0px #fff;
  background: radial-gradient(#ff98e9, #f85dd6, #e004b1);
  top: -250px;
  left: 500px;
  animation: circles-P 20s ease-in infinite reverse;
}
@keyframes circles-P {
  50% {
    transform: translateX(-150vh);
  }
}
.third-container .circle4 {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  box-shadow: 0 0 50px 0px #fff;
  background: radial-gradient(#d8fab8, #a5ff51, #37e303);
  position: relative;
  top: 193px;
  left: 460px;
  animation: circles-G 30s ease-in infinite reverse;
}
@keyframes circles-G {
  50% {
    transform: translateX(-150vh);
  }
}
.third-container .circle5 {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  box-shadow: 0 0 50px 0px #fff;
  background: radial-gradient(#ffc3c3, #ff5353, #d00000);
  position: relative;
  top: -100px;
  left: -402px;
  animation: circles-R 25s ease-in infinite;
}
@keyframes circles-R {
  50% {
    transform: translateX(-100vh);
  }
  20% {
    transform: translateY(20vw);
  }
}
.third-container .circle6 {
  height: 90px;
  width: 90px;
  border-radius: 100%;
  box-shadow: 0 0 50px 0px #fff;
  background: radial-gradient(#fdffe8, #f5ff6d, #d8e701);
  position: relative;
  top: -400px;
  left: -990px;
  animation: circles-Y 20s ease-in infinite reverse;
}
@keyframes circles-Y {
  50% {
    transform: translateY(100vh);
  }
}

.forth-container{
  width: 100%;
  height: 100vw;
}
