.navigation {
    display: flex;
    position: fixed;
    /* background-color: #522020; */
    width: 70;
    height: 100px;
    justify-content: space-between;
    z-index: 50;
  }
  .nav-services {
    display: none;
  }
  .icons {
    display: none;
  }
  .first-container .intro-text {
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    position: absolute;
    z-index: 20;
    top: 200px;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  .s-right-container h2 {
      position: absolute;
      top: 50px;
      left: 80px;
      font-size: 2rem;
      font-weight: 500;
      z-index: 100;
      color: #fff;
    }
    /* DeepGFX animation text */
  .s-right-container h2 b {
    z-index: 100;
    left: 0px;
    top: 50px;
    font-size: 50px;
    font-weight: 1000;
    color: transparent;
    /* -webkit-text-stroke: 2px #00fbff; */
    background: linear-gradient( to right, #a4257a,#02082d,#a4257a) ;
    -webkit-background-clip: text;
    position: absolute;
    animation: run 20s infinite linear;
  }
  @keyframes run {
    100% {
      background-position: 2000px;
    }
  }
  
  .text-content p {
    position: absolute;
    top: 260px;
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 50;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    left: -46px;
    z-index: 100;
    padding: 7px 130px;
    color: #fff;
  }